.bg{
    background-color: #d56780;
}

.navbar{
    padding: 0;    
}

.navbar-toggler:focus{
    box-shadow: none;
}

nav .nav-item a{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}

nav .navbar-brand{
    font-family: "Parisienne", sans-serif;
    padding-top: 10px;
    
}

@media only screen and (max-width: 992px) {
    ul{
        text-align: center;
        position: inherit;
        border: none;
    }
}

#arlista{
    text-align: center;
    font-size: 50px;
    padding: 50px 0 10px 0;
    border-bottom: 15px solid #d56780;
}

#ervenyesseg{
    text-align: center;
    padding: 15px 0 0 0;
}

.ar {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.ar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.ar {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    font-size: 1.1rem;
    display: flex;
    justify-content: space-between;
}

.ar strong {
    font-weight: bold;
    color: #444;
}

.price {
    font-weight: bold;
    color: #f00;
    align-self: flex-end;
}

