.bg{
    background-color: #d56780;
}

.navbar{
    padding: 0;    
}

.navbar-toggler:focus{
    box-shadow: none;
}

nav .nav-item a{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}

nav .navbar-brand{
    font-family: "Parisienne", sans-serif;
    padding-top: 10px;
    
}

@media only screen and (max-width: 992px) {
    ul{
        text-align: center;
        position: inherit;
        border: none;
    }
}