.bg{
    background-color: #d56780;
}

.navbar{
    padding: 0;    
}

.navbar-toggler:focus{
    box-shadow: none;
}

nav .nav-item a{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}

nav .navbar-brand{
    font-family: "Parisienne", sans-serif;
    padding-top: 10px;
    
}

/*header*/

header{
    text-align: center;
    padding-top: 40px;
}

.focim{
    color: #be243b;
    font-size: 90px !important;
    width: auto;
    padding-top: 30px;
    font-family: "Italianno", serif;
}


.hatter{
    height: 700px;
}

.vonal{
    height: 50px !important;
    color: #be243b !important;
}


/*reszponzivitas fokep es szoveg*/

@media only screen and (max-width: 1400px) {
    .focim{
        font-size: 80px !important;
    }
    
}

@media only screen and (max-width: 1200px) {
    .focim{
        font-size: 70px !important;
    }
}

@media only screen and (max-width: 992px) {
    ul{
        text-align: center;
        position: inherit;
        border: none;
    }

    .focim{
        font-size: 70px !important;
    }
}

@media only screen and (max-width: 768px) {
    .focim{
        font-size: 60px !important;
    }

    .hatter{
        height: 500px !important;
    }
}

@media only screen and (max-width: 576px) {
    .focim{
        font-size: 50px !important;
    }

    .hatter{
        height: 400px !important;
    }
}



@media only screen and (max-width: 406px) {
    .focim{
        font-size: 40px !important;
    }

    .hatter{
        height: 300px !important;
    }
}

/*reszponzivitas fokep es szoveg vege*/





